.image-landing {
  padding-top: 56px;
  height: 100vh;
}

.tour-kind {
  padding: 80px 0;
  text-align: center;
  margin: 0 auto;
  
  &--iner {
    display: flex;
    margin: 0 auto;
    width: 1170px;

    .card-wrapper {
      padding: 0 15px;
      width: 33.3333%;

      .image {
        width: 360px;
      }

      .copy {
        display: flex;
        padding-top: 20px;

        &--icon {
          padding: 0 5px;

          i {
            color: #fa923f;
          }
        }

        &--content {
          padding: 0 10px;
          text-align: left;

          h3 {
            margin: 0;
            margin-bottom: 13px;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            text-transform: uppercase;
            vertical-align: middle;
            letter-spacing: 1px;
            color: #282828;
          }

          p {
            line-height: 25px;
            margin: 0;
            color: #4c4c4c;
            font-weight: 100;
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }

      .icon {
        transform: rotate(-40deg);
      }
    }
  }
}

.hero-intro {
  background-color: #f2f2f2;
  margin: 0 auto;

  &--inner {
    display: flex;
    margin: 0 auto;
    width: 1170px;

    .image-content {
      padding: 100px 20px;

      img {
        width: 550px;
        height: 350px;
      }
    }

    .copy-content {
      padding: 0 20px;
      margin: auto 0;

      h2 {
        padding-bottom: 50px;
        font-size: 30px;
        line-height: 31px;
        font-weight: 300;
        letter-spacing: 3px;
        color: #282828;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        margin: 0;
      }

      p {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 22px;
        color: #4c4c4c;
      }
    }
  }
}

.hero-our-trip {
  text-align: center;

  &--inner {
    margin: 0 auto;
    padding: 80px 0;
    width: 1170px;

    h2 {
      font-size: 30px;
      font-weight: 300;
      line-height: 31px;
      letter-spacing: 3px;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      padding: 0;
      margin: 0;
      padding-bottom: 40px;
      color: #0f0f0f;
    }

    .pundi-tour-porto {
      margin: 0 auto;

      ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-left: 60px;
        min-width: 270px;
        text-align: center;

        li {
          padding: 20px;
        }

        .image-wrapper {
          border: 10px solid #fff;
          box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        }
      }
    }
  }
}

.hero-why-us {
  background-color: #f2f2f2;
  margin: 0 auto;

  &--inner {
    display: flex;
    margin: 0 auto;
    width: 1170px;
  }
}
