.side-drawer {
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  transform: translateX(-100%);
  z-index: 200;
  transition: transform 300ms ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  overflow: scroll;
}

.side-drawer li {
  margin: 0.5rem 0;
  padding: 10px 0;
}

.side-drawer a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
}

.side-drawer li:hover,
.side-drawer li:active {
  background-color: #f6f6f6;
}

.logo {
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
}

.logo a {
  color: #000;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (min-width: 920px) {
  .side-drawer {
    display: none;
  }
}