.hero-intro {
  background-color: #f2f2f2;
  margin: 0 auto;

  &--inner {
    display: flex;
    margin: 0 auto;
    width: 1170px;

    .image-content {
      padding: 100px 20px;

      img {
        width: 550px;
        height: 350px;
      }
    }

    .copy-content {
      padding: 0 20px;
      margin: auto 0;

      h2 {
        padding-bottom: 50px;
        font-size: 30px;
        line-height: 31px;
        font-weight: 300;
        letter-spacing: 3px;
        color: #282828;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        margin: 0;
      }

      p {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 22px;
        color: #4c4c4c;
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero-intro--inner {
    display: flex;
    width: 1170px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero-intro--inner {
    display: flex;
    width: 850px;

    .image-content {
      width: 50%;

      img {
        height: 300px;
        width: 400px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hero-intro--inner {
    display: flex;
    width: 750px;

    .image-content {
      width: 50%;

      img {
        height: 200px;
        width: 300px;
      }
    }

    .copy-content {
      padding: 20px;
      width: 50%;

      h2 {
        padding-bottom: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .hero-intro--inner {
    display: block;
    text-align: center;
    width: 100%;

    .image-content {
      padding: 20px;

      img {
        height: 175px;
        width: 250px;
      }
    }

    .copy-content {
      padding: 20px;

      h2 {
        padding-bottom: 20px;
      }
    }
  }
}
