.hero-client {
  background-color: #f2f2f2;

  &--inner {
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;

    .copywriting {
      margin: 0 auto;
      max-width: 320px;

      h2 {
        font-size: 30px;
        font-weight: 300;
        line-height: 31px;
        letter-spacing: 3px;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;
        padding: 0;
        margin: 0;
        padding-bottom: 20px;
        color: #282828;
      }
  
      p {
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        line-height: 25px;
        color: #4c4c4c;
      }
    }
  }
}