.tour-kind {
  padding: 80px 0;
  text-align: center;
  margin: 0 auto;
  
  &--iner {
    display: flex;
    margin: 0 auto;

    .card-wrapper {
      padding: 0 15px;
      width: 33.3333%;

      .copy {
        display: flex;
        padding-top: 20px;

        &--icon {
          padding: 0 5px;

          i {
            color: #4a4a4a;
          }
        }

        &--content {
          padding: 0 10px;
          text-align: left;

          h3 {
            margin: 0;
            margin-bottom: 13px;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            text-transform: uppercase;
            vertical-align: middle;
            letter-spacing: 1px;
            color: #282828;
          }

          p {
            line-height: 25px;
            margin: 0;
            color: #4c4c4c;
            font-weight: 100;
            font-size: 15px;
            font-family: 'Open Sans', sans-serif;
          }
        }
      }

      .icon {
        transform: rotate(-40deg);
      }
    }
  }
}

@media (min-width: 1200px) {
  .tour-kind--iner {
    width: 1170px;

    .image {
      width: 360px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tour-kind--iner {
    width: 970px;

    .image {
      width: 300px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tour-kind--iner {
    width: 750px;

    .image {
      width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .tour-kind {
    padding: 30px 0;
  }
  .tour-kind--iner {
    display: block;

    .card-wrapper {
      padding-bottom: 30px;
      width: 100%;
    }

    .image {
      width: 250px;
    }
  }
}
